// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

.bg {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &-black {
        background-color: black !important;
    }

    &-lblack {
        background-color: #191919 !important;
    }

    &-lgray {
        background-color: #F5F5F5 !important;
    }

    &-gray {
        background-color: #3f464d !important;
    }

    &-red {
        background-color: #D00022 !important;
    }
    &-btn-lgray:hover {
        background-color: #F5F5F5 !important;
    }
}



@mixin icon($name, $fname) {
    .icon-#{$name}::before {
        background: url("./public/storage/assets/icons/#{$fname}.svg") no-repeat;
        // object-fit: contain;
        background-position: initial;
        background-size: contain;
        content: '';
        display: inline-block;
        height: 20px;
        width: 20px;
        padding-right: 25px;
        padding: inherit;
        vertical-align: middle;
    }

    .icon-social-#{$name}::before {
        background: url("./public/storage/assets/icons/#{$fname}.svg") no-repeat;
        // object-fit: contain;
        background-position: initial;
        background-size: contain;
        content: '';
        display: inline-block;
        filter: brightness(70%);
        height: 30px;
        width: 30px;
        vertical-align: middle;
    }

    .icon-social-#{$name}:hover {
        filter: brightness(100%) !important;
    }

    .icon-heart-blank:hover {
        filter: invert(100%) !important;
    }
}

@include icon("add", "add");
@include icon("add-white", "add-white");
@include icon("back", "back");
@include icon("back-white", "back-white");
@include icon("bin", "bin");
@include icon("bin-red", "bin-red");
@include icon("bin-white", "bin-white");
@include icon("box", "box");
@include icon("box-white", "box-white");
@include icon("buy", "buy");
@include icon("cart", "cart");
@include icon("check", "check");
@include icon("check-white", "check-white");
@include icon("clipboard", "clipboard");
@include icon("clipboard-white", "clipboard-white");
@include icon("close", "close");
@include icon("close-white", "close-white");
@include icon("coupon", "coupon");
@include icon("coupon-white", "coupon-white");
@include icon("delivery-white", "delivery-white");
@include icon("edit", "edit");
@include icon("edit-white", "edit-white");
@include icon("edit-tools", "edit-tools");
@include icon("edit-tools-white", "edit-tools-white");
@include icon("eye", "eye");
@include icon("eye-white", "eye-white");
@include icon("filter", "filter");
@include icon("finish-white", "finish-white");
@include icon("grid", "grid");
@include icon("heart", "heart");
@include icon("heart-white", "heart-white");
@include icon("heart-blank", "heart-blank");
@include icon("home", "home");
@include icon("home-white", "home-white");
@include icon("key", "key");
@include icon("key-white", "key-white");
@include icon("list", "list");
@include icon("list-white", "list-white");
@include icon("login", "login");
@include icon("newspaper", "newspaper");
@include icon("newspaper-white", "newspaper-white");
@include icon("megaphone", "megaphone");
@include icon("megaphone-white", "megaphone-white");
@include icon("modules", "modules");
@include icon("modules-white", "modules-white");
@include icon("next", "next");
@include icon("next-white", "next-white");
@include icon("order-white", "order-white");
@include icon("prepair-white", "prepair-white");
@include icon("promotions", "promotions");
@include icon("promotions-white", "promotions-white");
@include icon("question", "question");
@include icon("refresh", "refresh");
@include icon("refresh-white", "refresh-white");
@include icon("search", "search");
@include icon("shield", "shield");
@include icon("shield-white", "shield-white");
@include icon("shopping-cart", "shopping-cart");
@include icon("shopping-cart-filled", "shopping-cart-filled");
@include icon("star", "star");
@include icon("star-white", "star-white");
@include icon("style", "style");
@include icon("style-white", "style-white");
@include icon("support", "support");
@include icon("theater-white", "theater-white");
@include icon("user", "user");
@include icon("user-white", "user-white");
@include icon("user-filled", "user-filled");

@include icon("twitter", "twitter-filled-white");
@include icon("facebook", "facebook-filled-white");
@include icon("youtube", "youtube-filled-white");
@include icon("instagram", "instagram-filled-white");

@mixin icon-nav($name, $fname, $h, $w) {
    .icon-nav-#{$name}::before {
        background: url("./public/storage/assets/icons/#{$fname}.png") no-repeat;
        // object-fit: contain;
        background-position: initial;
        background-size: contain;
        content: '';
        display: inline-block;
        height: #{$h};
        width: #{$w};
        vertical-align: middle;
    }
}

@include icon-nav("rikkeisoft", "Rikkeisoft-logo", "40px", "97px");
@include icon-nav("rikkeisoft-mini", "Rikkeisoft-logo", "20px", "48px");
@include icon-nav("rikkeisoft-white", "Rikkeisoft-logo-white", "50px", "93px");
@include icon-nav("rikkeisoft-white-mini", "Rikkeisoft-logo-white", "25px", "46px");

@mixin icon-home($name, $fname) {
    .icon-home-#{$name}::before {
        background: url("./public/storage/assets/icons/#{$fname}.png") no-repeat;
        // object-fit: contain;
        background-position: initial;
        background-size: contain;
        content: '';
        display: inline-block;
        height: 20px;
        width: 60px;
        vertical-align: middle;
    }
}

@include icon-home("nike", "1200px-Logo_NIKE");
@include icon-home("nike-white", "1200px-Logo_NIKE-White");


@mixin icon-payment($name, $fname) {
    .icon-payment-#{$name}::before {
        background: url("./public/storage/assets/icons/#{$fname}") no-repeat;
        // object-fit: contain;
        background-position: initial;
        background-size: contain;
        content: '';
        display: inline-block;
        height: 50px;
        width: 50px;
        vertical-align: middle;
    }
}

@include icon-payment("mastercard", "512-mastercard.png");
@include icon-payment("visa", "512-visa.png");
@include icon-payment("paypal", "512-paypal.png");
@include icon-payment("vietinbank", "512-vietinbank.png");
@include icon-payment("bidv", "512-bidv.png");
@include icon-payment("cod", "buy.svg");

@mixin icon-status($name, $fname) {
    .icon-status-#{$name}::before {
        background: url("./public/storage/assets/icons/#{$fname}.svg") no-repeat;
        // object-fit: contain;
        background-position: initial;
        background-size: contain;
        content: '';
        display: inline-block;
        height: 220px;
        width: 220px;
        vertical-align: middle;
    }
}

@include icon-status("success", "success");
@include icon-status("warning", "warning");
@include icon-status("fail", "fail");


.textcolor {
    &-lblack {
        color: #191919 !important;
    }

    &-gray {
        color: #7e7e7e !important;
    }
}

@for $i from 1 through 20 {
    .text-size {
        &-#{$i} {
            @if $i==1 {
                font-size: 40px;
            }

            @else {
                font-size: 40px - (2*$i);
            }
        }
    }
}

@media screen and (min-width: 769px) {
    .product {
        &-title {
            font-size: 16px;
        }

        &-subtitle {
            font-size: 16px;
        }

        &-color {
            font-size: 14px;
        }

        &-price {
            font-size: 16px;
        }

        &-discountpercent {
            font-size: 24px;
        }
    }
}

@media screen and (max-width: 768px) {
    .product {
        &-title {
            font-size: 14px;
        }

        &-subtitle {
            font-size: 12px;
        }

        &-color {
            font-size: 12px;
        }

        &-price {
            font-size: 14px;
            text-align: left !important;
        }

        &-discountpercent {
            font-size: 16px;
        }
    }
}

@media screen and (min-width: 1200px) {
    .showproduct {
        &-title {
            font-size: 40px !important;
        }

        &-subtitle {
            font-size: 20px !important;
        }

        &-price {
            font-size: 40px !important;
        }

        &-size {
            font-size: 20px !important;
        }

    }
}

@media screen and (max-width: 1200px) {
    .showproduct {
        &-title {
            font-size: 30px !important;
        }

        &-subtitle {
            font-size: 16px !important;
        }

        &-price {
            font-size: 34px !important;
        }

        &-size {
            font-size: 16px !important;
        }
    }
}

.sidebar {
    position: -webkit-sticky;
    position: sticky;
    top: 5%;
    // width: 20%;
    height: 97vh !important;
    min-height: 97vh !important;
    max-height: 100vh !important;
    // overflow: auto;
}

body {
    padding: 30px 0 0 0;
}

.dotcolor {
    height: 35px;
    width: 35px;
    background-color: #bbb;
    border-radius: 50%;
    border-width: 5px !important;
    border-color: #6c757d !important;
    display: inline-block;
}

// custom checkbox color
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: black !important;
}

/** focus shadow **/
.custom-checkbox .custom-control-input:focus~.custom-control-label::before {
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(150, 150, 150, 0.25);
}

// side scroll
.testimonial-group .table-nw {
    overflow-x: auto;
    white-space: nowrap;
  }
  .testimonial-group .table-nw .tr-nw {
    display: inline-block;
    float: none;
  }


  .hide-radio-btn {
    width: 0;
    height: 0;
  }

.dim {
    filter: brightness(80%);
}
