// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

.bg {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &-black {
        background-color: black !important;
    }

    &-lblack {
        background-color: #191919 !important;
    }

    &-lgray {
        background-color: #F5F5F5 !important;
    }

    &-red {
        background-color: #D00022 !important;
    }
}



@mixin icon($name, $fname) {
    .icon-#{$name}::before {
        background: url("./public/storage/assets/icons/#{$fname}.svg") no-repeat;
        // object-fit: contain;
        background-position: initial;
        background-size: contain;
        content: '';
        display: inline-block;
        height: 20px;
        width: 20px;
        vertical-align: middle;
    }

    .icon-social-#{$name}::before {
        background: url("./public/storage/assets/icons/#{$fname}.svg") no-repeat;
        // object-fit: contain;
        background-position: initial;
        background-size: contain;
        content: '';
        display: inline-block;
        filter: brightness(70%);
        height: 30px;
        width: 30px;
        vertical-align: middle;
    }

    .icon-social-#{$name}:hover {
        filter: brightness(100%) !important;
    }
}

@include icon("back", "back");
@include icon("back-white", "back-white");
@include icon("box", "box");
@include icon("box-white", "box-white");
@include icon("cart", "cart");
@include icon("close", "close");
@include icon("close-white", "close-white");
@include icon("edit-tools", "edit-tools");
@include icon("edit-tools-white", "edit-tools-white");
@include icon("grid", "grid");
@include icon("home", "home");
@include icon("home-white", "home-white");
@include icon("key", "key");
@include icon("key-white", "key-white");
@include icon("next", "next");
@include icon("next-white", "next-white");
@include icon("question", "question");
@include icon("search", "search");
@include icon("support", "support");
@include icon("user", "user");
@include icon("user-white", "user-white");
@include icon("user-filled", "user-filled");

@include icon("twitter", "twitter-filled-white");
@include icon("facebook", "facebook-filled-white");
@include icon("youtube", "youtube-filled-white");
@include icon("instagram", "instagram-filled-white");

@mixin icon-home($name, $fname) {
    .icon-home-#{$name}::before {
        background: url("./public/storage/assets/icons/#{$fname}.png") no-repeat;
        // object-fit: contain;
        background-position: initial;
        background-size: contain;
        content: '';
        display: inline-block;
        height: 20px;
        width: 60px;
        vertical-align: middle;
    }
}

@include icon-home("nike", "1200px-Logo_NIKE");
@include icon-home("nike-white", "1200px-Logo_NIKE-White");


.textcolor {
    &-lblack {
        color: #191919 !important;
    }

    &-gray {
        color: #7e7e7e !important;
    }
}

@for $i from 1 through 20 {
    .text-size {
        &-#{$i} {
            @if $i==1 {
                font-size: 40px;
            }

            @else {
                font-size: 40px - (2*$i);
            }
        }
    }
}

@media screen and (min-width: 769px) {
    div.product {
        &-title {
            font-size: 16px;
        }

        &-subtitle {
            font-size: 16px;
        }

        &-color {
            font-size: 14px;
        }

        &-price {
            font-size: 16px;
        }
    }
}

@media screen and (max-width: 768px) {
    div.product {
        &-title {
            font-size: 14px;
        }

        &-subtitle {
            font-size: 12px;
        }

        &-color {
            font-size: 12px;
        }

        &-price {
            font-size: 14px;
            text-align: left !important;
        }
    }
}

.sidebar {
    position: -webkit-sticky;
    position: sticky;
    top: 5%;
    // width: 20%;
    height: 100vh; // experiment with this value, try changing to 110vh
    // min-height: 200px;
    // overflow: auto;
}

body {
    padding: 30px 0 0 0;
}
